* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 10px auto;
    text-align: center;
}

table {
    margin: 0 auto;
    text-align: center;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 3px 5px;
}

.box {
    padding-top: 20px;
}

.item {
    margin: 25px auto;
    width: 350px;
    height: 35px;
}

.label {
    display: inline-block;
    width: 145px;
    vertical-align: middle;
}

.information {
    display: inline-block;
    width: 200px;
    height: 35px;
}

.item > span {
    font: 16px/35px "Microsoft YaHei UI";
    vertical-align: middle;
}

.item > input {
    width: 196px;
    height: 31px;
}

.div-button {
    text-align: center;
    width: auto;
}

.div-button input {
    width: 120px;
}

.span-select span {
    display: inline-block;
    /*ѡ����ӵȼ��ſ�*/
    padding: 0 5px;
}