* {
    margin: 0;
    padding: 0;
}

.box {
    padding-top: 15px;
}

h2 {
    margin-bottom: 5px;
    text-align: center;
}

.item {
    margin: 15px auto;
    width: 350px;
    height: 35px;
}

.label {
    display: inline-block;
    width: 145px;
    vertical-align: middle;
}

.information {
    display: inline-block;
    width: 200px;
    height: 35px;
}

.item > span {
    font: 16px/35px "Microsoft YaHei UI";
    vertical-align: middle;
}

.item > input {
    width: 196px;
    height: 31px;
}

.div-button input {
    width: 170px;
}